/* General Variables */
/* General Styles */
html,
body {
  max-width: 1920px;
  min-width: 1230px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
}
body {
  background: #ffffff;
}
body section {
  display: block;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body ul,
body li {
  margin: 0;
  padding: 0;
}
body h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
body h2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  text-transform: uppercase;
}
body h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  font-weight: 400;
}
body h4 {
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
}
body p {
  line-height: 150%;
  font-family: Roboto, sans-serif;
  font-size: 0.9375em;
  color: #999;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration: none;
}
.bg-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}
.section-header {
  padding-top: 5.625em;
  text-align: center;
}
.section-header h3 {
  margin-bottom: 0.5em;
}
.section-header .line-red {
  margin: 2.5em auto 2.9375em auto;
}
.line-red {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 0 auto;
  background: #f38181;
}
/* Main Header Styles */
.main-header {
  position: absolute;
  top: 0;
  max-width: 1920px;
  min-width: 1230px;
  width: 100%;
  z-index: 1000;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  background: transparent;
}
.main-header .header-wrapper {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 1em;
}
.main-header .header-wrapper .main-logo {
  float: left;
  font-weight: 700;
  font-size: 1.875em;
}
.main-header .header-wrapper .main-menu {
  float: right;
  text-align: center;
}
.main-header .header-wrapper .main-menu li {
  display: inline-block;
  padding: 0.75em 1.875em;
}
.main-header .header-wrapper .main-menu li a {
  padding-bottom: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.875em;
}
.main-header .header-wrapper .main-menu li a:hover {
  color: #fce38a;
  border-bottom: 0.1875em solid #fce38a;
  transition: .1s;
}
.main-header .header-wrapper .main-menu li a span {
  font-size: 1.2em;
}
.main-header .header-wrapper .main-menu li:last-child {
  padding: 0.75em 0;
}
.main-header .header-wrapper .main-menu li:nth-child(6) a:hover,
.main-header .header-wrapper .main-menu li:last-child a:hover {
  border: none;
}
/* Section-1 Styles */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
#section-1 {
  max-width: 1920px;
  min-width: 1230px;
  max-height: 45em;
  height: 45em;
  color: #ffffff;
  background-color: #222;
}
#section-1 .content-slider {
  position: relative;
  width: 100%;
  height: 45em;
}
#section-1 .content-slider input {
  display: none;
}
#section-1 .content-slider .slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
#section-1 .content-slider .slider .banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all .5s ease;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper {
  height: 100%;
  padding-top: 8em;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  box-sizing: border-box;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
  padding-bottom: 0.3em;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 3em;
  text-transform: none;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
  font-size: 7em;
  line-height: 95%;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 3.5em auto;
  background: #ffffff;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
  padding-bottom: 5em;
  z-index: 15 !important;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
  padding: 0.625em 2.0625em;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  color: #ffffff;
  text-transform: uppercase;
  border: 0.1875em solid #ffffff;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  color: #e88382;
  border-color: #e88382;
  transition: .3s;
}
#section-1 .content-slider .slider #top-banner-1 {
  background-image: url('../image/section-1/banner-1.png');
}
#section-1 .content-slider .slider #top-banner-2 {
  background-image: url('../image/section-1/banner-2.png');
}
#section-1 .content-slider .slider #top-banner-3 {
  background-image: url('../image/section-1/banner-3.png');
}
#section-1 .content-slider .slider #top-banner-4 {
  background-image: url('../image/section-1/banner-4.png');
}
#section-1 .content-slider nav {
  position: absolute;
  bottom: 0.5em;
  max-width: 1920px;
  min-width: 1230px;
  width: 100%;
  z-index: 10;
  text-align: center;
}
#section-1 .content-slider nav .controls {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
}
#section-1 .content-slider nav .controls label {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 3.1em;
  overflow: hidden;
  margin: 0 1em;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: #f6eac5;
  font-weight: 400;
  cursor: pointer;
  transition: all .3s;
}
#section-1 .content-slider nav .controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #f6eac5;
  z-index: 100;
}
#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: #e88382;
}
#section-1 .content-slider nav .controls label span {
  font-size: 1.4em;
  font-weight: 700;
}
#section-1 .content-slider nav .controls label:hover {
  color: #e88382;
}
#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #ffffff;
  transition: all .5s;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
  background: #ffffff;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 7s linear;
}
/* Section-2 Styles */
#section-2 {
  max-height: 64.25em;
  height: 64.25em;
  text-align: center;
}
#section-2 .about-us {
  padding: 4.5em 0 6.875em 0;
}
#section-2 .about-us .about-img {
  position: relative;
  display: inline-block;
  width: 23.75em;
  height: 15.625em;
  transition: all .2s;
}
#section-2 .about-us .about-img .gradient-mask {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 23.75em;
  height: 15.625em;
  transition: all .2s;
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}
#section-2 .about-us .about-img .gradient-mask h4 {
  position: static;
  padding-top: 25%;
  font-size: 1.125em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
#section-2 .about-us .about-img .gradient-mask h4 span {
  font-size: 1.5em;
}
#section-2 .about-us .about-img:hover {
  transform: translate(-0.5em, -0.5em);
  box-shadow: 0.5em 0.5em #95e1d3;
  transition: all .2s;
}
#section-2 .about-us .about-img:hover .gradient-mask {
  visibility: visible;
}
#section-2 .about-us .about-img:nth-child(2) {
  margin: 0 2.26em;
}
#section-2 footer {
  background-color: #95e1d3;
}
#section-2 footer .about-cell {
  display: inline-block;
  width: 15em;
  padding: 4.95em 0;
  border-left: 1px solid #b5eae0;
}
#section-2 footer .about-cell h4 {
  font-weight: 400;
  color: #fff;
}
#section-2 footer .about-cell h4 span {
  margin-bottom: 1.875em;
  font-size: 5.5em;
  font-weight: 700;
}
#section-2 footer .about-cell:last-child {
  border-right: 1px solid #b5eae0;
}
/* Section-3 Styles */
#section-3 {
  max-width: 1230px;
  max-height: 43em;
  height: 43em;
  margin: 0 auto;
}
#section-3 .line-red {
  margin-bottom: 0;
}
#section-3 ul {
  padding: 1em 0 4.375em 0;
  text-align: center;
}
#section-3 ul li {
  position: relative;
  display: inline-block;
  width: 19em;
  margin-left: -0.25em;
  padding: 3.125em 0 3.125em 6.458em;
  text-align: left;
}
#section-3 ul li span {
  position: absolute;
  top: 27%;
  left: 8%;
  font-size: 2.5em;
  color: #95e1d3;
}
#section-3 ul li:nth-child(n+4) {
  border-top: 1px solid #e5e5e5;
}
/* Section-4 Styles */
#section-4 {
  max-height: 52.8125em;
  height: 52.8125em;
  background-image: url('../image/section-4/bg-sec-4.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#section-4 .bg-wrapper .pictures {
  position: relative;
  width: 33.5em;
  height: 36.375em;
  margin: 0 auto;
  z-index: 1;
}
#section-4 .bg-wrapper .pictures .tablet {
  position: absolute;
}
#section-4 .bg-wrapper .pictures .phone {
  position: absolute;
  bottom: -9%;
  left: 73%;
}
/* Section-5 Styles */
#section-5 {
  max-height: 74.375em;
  height: 74.375em;
}
#section-5 .what-we-do-content {
  width: 73.375em;
  height: 35em;
  margin: 0 auto;
  padding-top: 5em;
  box-sizing: border-box;
}
#section-5 .what-we-do-content .what-we-do {
  display: inline-block;
  width: 35.625em;
  height: 23.75em;
}
#section-5 .what-we-do-content .wwd-image-block {
  position: relative;
  float: left;
  margin-right: 1.875em;
}
#section-5 .what-we-do-content .wwd-image-block .wwd-image {
  position: absolute;
  display: none;
}
#section-5 .what-we-do-content .wwd-image-block .shown {
  display: block;
}
#section-5 .what-we-do-content #accordion .wwd-select {
  position: relative;
  display: block;
  width: 35.625em;
  height: 3.75em;
  margin-bottom: 10px;
  padding: 0.9em 1.2em;
  color: #000;
  border: 1px solid #e5e5e5;
  outline: none;
  box-sizing: border-box;
}
#section-5 .what-we-do-content #accordion .wwd-select span {
  font-size: 2em;
}
#section-5 .what-we-do-content #accordion .wwd-select .fa-absolute {
  position: absolute;
  top: 0.45em;
  left: 0.5em;
  color: #95e1d3;
}
#section-5 .what-we-do-content #accordion .wwd-select h4 {
  float: left;
  padding: 0.6em 3.2em;
}
#section-5 .what-we-do-content #accordion .wwd-select span:last-child {
  float: right;
  color: #ccc;
  transition: all .5s;
}
#section-5 .what-we-do-content #accordion .wwd-select:hover {
  cursor: pointer;
  box-shadow: 0 0 1px #95e1d3;
}
#section-5 .what-we-do-content #accordion .wwd-select:focus {
  box-shadow: 0 0 1px #95e1d3;
}
#section-5 .what-we-do-content #accordion .focused span:last-child {
  transform: rotate(180deg);
  transition: all .5s;
}
#section-5 .what-we-do-content #accordion .wwd-text {
  height: 9em;
  margin-top: -11px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
#section-5 footer {
  height: 18.125em;
  background-color: #f8f8f8;
}
#section-5 footer .css-slider {
  position: relative;
  width: 60em;
  height: 18.125em;
  margin: 0 auto;
  box-sizing: border-box;
}
#section-5 footer .css-slider input {
  display: none;
}
#section-5 footer .css-slider #controls1 label::before,
#section-5 footer .css-slider #controls1 label::after {
  content: "";
  position: absolute;
  bottom: 3em;
  font-family: 'FontAwesome';
  font-size: 2.5em;
  cursor: pointer;
  color: #ccc;
}
#section-5 footer .css-slider #slide1:checked ~ #controls1 label:nth-child(4)::before,
#section-5 footer .css-slider #slide2:checked ~ #controls1 label:nth-child(1)::before,
#section-5 footer .css-slider #slide3:checked ~ #controls1 label:nth-child(2)::before,
#section-5 footer .css-slider #slide4:checked ~ #controls1 label:nth-child(3)::before {
  left: -2em;
  content: '\f104';
}
#section-5 footer .css-slider #slide1:checked ~ #controls1 label:nth-child(2)::after,
#section-5 footer .css-slider #slide2:checked ~ #controls1 label:nth-child(3)::after,
#section-5 footer .css-slider #slide3:checked ~ #controls1 label:nth-child(4)::after,
#section-5 footer .css-slider #slide4:checked ~ #controls1 label:nth-child(1)::after {
  right: -2em;
  content: '\f105';
}
#section-5 footer .css-slider #slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#section-5 footer .css-slider #slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#section-5 footer .css-slider #slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#section-5 footer .css-slider #slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#section-5 footer .css-slider #overflow {
  width: 100%;
  overflow: hidden;
}
#section-5 footer .css-slider #overflow .inner {
  width: 400%;
  transition: all 0.5s ease-in-out;
}
#section-5 footer .css-slider #overflow .inner .content {
  float: left;
  width: 25%;
  padding: 2.4em 0 2.5em 0.5em;
  box-sizing: border-box;
}
#section-5 footer .css-slider #overflow .inner .content .quote {
  width: 100%;
  height: 12em;
}
#section-5 footer .css-slider #overflow .inner .content .quote span {
  float: left;
  font-size: 13em;
  color: #95e1d3;
}
#section-5 footer .css-slider #overflow .inner .content .quote .quote-wrapper {
  float: right;
  width: 43em;
  height: 12em;
}
#section-5 footer .css-slider #overflow .inner .content .quote .quote-wrapper p {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
}
#section-5 footer .css-slider #overflow .inner .content .quote .quote-wrapper .line-red {
  float: left;
  margin: 1em 1em 0 0;
}
/* Section-6 Styles */
#section-6 {
  max-height: 81.92em;
  height: 81.92em;
  text-align: center;
}
#section-6 .our-team {
  padding: 5em 0 7.1875em 0;
}
#section-6 .our-team .photo-wrapper {
  display: inline-block;
}
#section-6 .our-team .photo-wrapper .expert-photo {
  position: relative;
  width: 23.75em;
  height: 29.375em;
  transition: all .2s;
}
#section-6 .our-team .photo-wrapper .expert-photo .gradient-mask {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 23.75em;
  height: 29.375em;
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  transition: all .2s;
}
#section-6 .our-team .photo-wrapper .expert-photo .gradient-mask ul {
  display: table;
  margin: 52% auto;
  border-spacing: 1px;
}
#section-6 .our-team .photo-wrapper .expert-photo .gradient-mask ul li {
  display: table-cell;
  width: 3em;
  height: 3em;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #fce38a;
}
#section-6 .our-team .photo-wrapper .expert-photo .gradient-mask ul li a span {
  padding: 0.38em;
  font-size: 1.7em;
  color: #f38181;
}
#section-6 .our-team .photo-wrapper .expert-photo .gradient-mask ul li:hover {
  background-color: #f38181;
}
#section-6 .our-team .photo-wrapper .expert-photo .gradient-mask ul li:hover span {
  color: #ffffff;
}
#section-6 .our-team .photo-wrapper .expert-photo:hover {
  transform: translate(-0.5em, -0.5em);
  box-shadow: 0.5em 0.5em #95e1d3;
  transition: all .2s;
}
#section-6 .our-team .photo-wrapper .expert-photo:hover .gradient-mask {
  visibility: visible;
}
#section-6 .our-team .photo-wrapper:nth-child(2) {
  margin: 0 2.26em;
}
#section-6 .our-team h4 {
  margin: 1.875em 0 0.5em 0;
}
#section-6 .our-team p {
  margin: 0;
  font-weight: 300;
  font-style: italic;
}
#section-6 footer {
  height: 15.625em;
  padding: 3.75em 0;
  background-color: #f8f8f8;
  box-sizing: border-box;
}
/* Section-7 Styles */
#section-7 {
  max-height: 83.78em;
  height: 83.78em;
}
#section-7 .gallery {
  display: flex;
  flex-flow: column wrap;
  width: 76.5em;
  height: 31.078645em;
  margin: 0 auto;
  padding-top: 5em;
}
#section-7 .gallery .first-img {
  background: url('../image/section-7/gal-pic-1-sec-7.png') no-repeat 50% 50%;
  background-size: 100%;
  order: 0;
}
#section-7 .gallery .second-img {
  background: url('../image/section-7/gal-pic-2-sec-7.png') no-repeat 50% 50%;
  background-size: 100%;
  order: 1;
}
#section-7 .gallery .third-img {
  background: url('../image/section-7/gal-pic-3-sec-7.png') no-repeat 50% 50%;
  background-size: 100%;
  order: 2;
  flex-basis: 31.078125em;
}
#section-7 .gallery .fourth-img {
  background: url('../image/section-7/gal-pic-4-sec-7.png') no-repeat 50% 50%;
  background-size: 100%;
  order: 3;
}
#section-7 .gallery .fifth-img {
  background: url('../image/section-7/gal-pic-5-sec-7.png') no-repeat 50% 50%;
  background-size: 100%;
  order: 0;
}
#section-7 .gallery .sixth-img {
  background: url('../image/section-7/gal-pic-6-sec-7.png') no-repeat 50% 50%;
  background-size: 100%;
  order: 1;
}
#section-7 .gallery .seventh-img {
  background: url('../image/section-7/gal-pic-7-sec-7.png') no-repeat 50% 50%;
  background-size: 100%;
  order: 3;
}
#section-7 .gallery .gallery-img {
  position: relative;
  width: 19.125em;
  height: 15.5390625em;
  overflow: hidden;
  transition: all .2s;
}
#section-7 .gallery .gallery-img .gradient-mask {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 19.125em;
  height: 15.5390625em;
  text-align: center;
  transition: all .2s;
  background: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
}
#section-7 .gallery .gallery-img .gradient-mask h4 {
  position: static;
  padding-top: 25%;
  font-size: 1.125em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
#section-7 .gallery .gallery-img .gradient-mask h4 span {
  font-size: 1.5em;
}
#section-7 .gallery .gallery-img .gradient-mask p {
  position: static;
  cursor: pointer;
  color: #ffffff;
}
#section-7 .gallery .gallery-img:hover .gradient-mask {
  visibility: visible;
}
#section-7 .gallery .third-img.gallery-img .gradient-mask {
  height: 31.078125em;
}
#section-7 .gallery .third-img.gallery-img .gradient-mask h4 {
  padding-top: 60%;
}
#section-7 footer {
  height: 27.5em;
  background-color: #ffffff;
  box-sizing: border-box;
}
#section-7 footer .css-slider2 {
  position: relative;
  width: 60em;
  height: 27.5em;
  margin: 0 auto;
  padding: 4em 0;
  box-sizing: border-box;
}
#section-7 footer .css-slider2 input {
  display: none;
}
#section-7 footer .css-slider2 #controls2 label::before,
#section-7 footer .css-slider2 #controls2 label::after {
  content: "";
  position: absolute;
  bottom: 5.5em;
  font-family: 'FontAwesome';
  font-size: 2.5em;
  cursor: pointer;
  color: #ccc;
}
#section-7 footer .css-slider2 #slide2-1:checked ~ #controls2 label:nth-child(5)::before,
#section-7 footer .css-slider2 #slide2-2:checked ~ #controls2 label:nth-child(1)::before,
#section-7 footer .css-slider2 #slide2-3:checked ~ #controls2 label:nth-child(2)::before,
#section-7 footer .css-slider2 #slide2-4:checked ~ #controls2 label:nth-child(3)::before,
#section-7 footer .css-slider2 #slide2-5:checked ~ #controls2 label:nth-child(4)::before {
  left: -2em;
  content: '\f104';
}
#section-7 footer .css-slider2 #slide2-1:checked ~ #controls2 label:nth-child(2)::after,
#section-7 footer .css-slider2 #slide2-2:checked ~ #controls2 label:nth-child(3)::after,
#section-7 footer .css-slider2 #slide2-3:checked ~ #controls2 label:nth-child(4)::after,
#section-7 footer .css-slider2 #slide2-4:checked ~ #controls2 label:nth-child(5)::after,
#section-7 footer .css-slider2 #slide2-5:checked ~ #controls2 label:nth-child(1)::after {
  right: -2em;
  content: '\f105';
}
#section-7 footer .css-slider2 #slide2-1:checked ~ #slides2 .inner {
  margin-left: 0;
}
#section-7 footer .css-slider2 #slide2-2:checked ~ #slides2 .inner {
  margin-left: -100%;
}
#section-7 footer .css-slider2 #slide2-3:checked ~ #slides2 .inner {
  margin-left: -200%;
}
#section-7 footer .css-slider2 #slide2-4:checked ~ #slides2 .inner {
  margin-left: -300%;
}
#section-7 footer .css-slider2 #slide2-5:checked ~ #slides2 .inner {
  margin-left: -400%;
}
#section-7 footer .css-slider2 #overflow2 {
  width: 100%;
  overflow: hidden;
}
#section-7 footer .css-slider2 #overflow2 .inner {
  width: 500%;
  transition: all 0.5s ease-in-out;
}
#section-7 footer .css-slider2 #overflow2 .inner .content {
  float: left;
  width: 20%;
  padding: 2.4em 0 2.5em 0.5em;
  box-sizing: border-box;
}
#section-7 footer .css-slider2 #overflow2 .inner .content .quote {
  width: 100%;
  height: 13.75em;
}
#section-7 footer .css-slider2 #overflow2 .inner .content .quote img {
  float: left;
  width: 13.4375em;
  height: 13.4375em;
  border-radius: 50%;
}
#section-7 footer .css-slider2 #overflow2 .inner .content .quote .quote-wrapper {
  float: right;
  width: 43em;
  height: 13.75em;
}
#section-7 footer .css-slider2 #overflow2 .inner .content .quote .quote-wrapper p {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
}
#section-7 footer .css-slider2 #overflow2 .inner .content .quote .quote-wrapper .line-red {
  float: left;
  margin: 1em 1em 0 0;
}
/* Section-8 Styles */
#section-8 {
  max-height: 51.875em;
  height: 51.875em;
  background-image: url('../image/section-8/bg-sec-8.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#section-8 .clients-table {
  display: table;
  width: 70em;
  height: 25em;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 6.4em;
}
#section-8 .clients-table .row {
  display: table-row;
}
#section-8 .clients-table .cell {
  position: relative;
  display: table-cell;
  width: 35em;
  padding-left: 10em;
  padding-right: 2em;
}
#section-8 .clients-table .cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5em;
  width: 6.875em;
  height: 6.875em;
  border-radius: 50%;
  z-index: 1;
}
#section-8 .clients-table .cell p:first-of-type {
  margin-top: 0.5em;
  color: #3f3f3f;
  font-style: italic;
}
#section-8 .clients-table .cell .line-red {
  margin: 0;
}
#section-8 .clients-table .cell-3,
#section-8 .clients-table .cell-4 {
  padding-top: 2em;
}
#section-8 .clients-table .cell-1::before {
  background: url('../image/section-8/client-1-sec-8.png') no-repeat 50% 50%;
}
#section-8 .clients-table .cell-2::before {
  background: url('../image/section-8/client-2-sec-8.png') no-repeat 50% 50%;
}
#section-8 .clients-table .cell-3::before {
  top: 2em;
  background: url('../image/section-8/client-3-sec-8.png') no-repeat 50% 50%;
}
#section-8 .clients-table .cell-4::before {
  top: 2em;
  background: url('../image/section-8/client-4-sec-8.png') no-repeat 50% 50%;
}
/* Section-9 Styles */
#section-9 {
  max-height: 48.125em;
  height: 48.125em;
}
#section-9 .latest-blog {
  display: flex;
  width: 76.25em;
  margin: 0 auto;
  padding: 0.3em 0 6.14em 0;
  justify-content: space-around;
}
#section-9 .latest-blog .blog-post {
  width: 23.75em;
}
#section-9 .latest-blog .blog-post .post-pic {
  position: relative;
}
#section-9 .latest-blog .blog-post .post-pic img {
  width: 23.75em;
  height: 15em;
  transition: all .2s;
}
#section-9 .latest-blog .blog-post .post-pic img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all .2s;
}
#section-9 .latest-blog .blog-post .post-pic .post-date {
  position: absolute;
  bottom: 0.7em;
  left: -0.5em;
  width: 3.75em;
  height: 4.375em;
  padding: 0.55em 0;
  text-align: center;
  background-color: #95e1d3;
  color: #ffffff;
  box-sizing: border-box;
}
#section-9 .latest-blog .blog-post .post-pic .post-date span {
  line-height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 2.1em;
  font-weight: 700;
}
#section-9 .latest-blog .blog-post .post-pic .post-date i {
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}
#section-9 .latest-blog .blog-post .post-short-text {
  padding: 0.9em 0.5em 0 0;
  border-bottom: 1px solid #e5e5e5;
}
#section-9 .latest-blog .blog-post .post-short-text h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section-9 .latest-blog .blog-post .post-stats p {
  display: inline-block;
  margin-right: 1em;
  font-weight: 300;
  font-style: italic;
}
#section-9 .latest-blog .blog-post .post-stats p span {
  color: #95e1d3;
}
/* Main Footer Styles */
@keyframes mapHover {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.8, 0.8);
  }
  75% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
#main-footer {
  max-height: 47.2em;
  height: 47.2em;
  background-color: #f8f8f8;
}
#main-footer .open-map {
  height: 12.5em;
  background-image: url('../image/footer/bg-map-footer.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#main-footer .open-map:hover span {
  animation: mapHover 1s linear;
}
#main-footer .open-map .marker-wrapper {
  padding-top: 3em;
  text-align: center;
}
#main-footer .open-map .marker-wrapper span {
  font-size: 2.3em;
  color: #f38181;
}
#main-footer .open-map .marker-wrapper h2 {
  margin: 0.2em 0 0.5em 0;
}
#main-footer .open-map .marker-wrapper h2 a {
  font-size: 0.9em;
  color: #f38181;
}
#main-footer .footer-blocks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 75em;
  height: 23.4em;
  margin: 0 auto;
  padding: 3em 0 5em 0;
}
#main-footer .footer-blocks .following {
  width: 29em;
  height: 23.4em;
}
#main-footer .footer-blocks .following h2 {
  margin-left: -3px;
  text-transform: none;
  font-size: 2.875em;
  color: #ccc;
}
#main-footer .footer-blocks .following p {
  margin: 0;
}
#main-footer .footer-blocks .following .about-us-footer {
  padding: 2em 0 2.5em 0;
}
#main-footer .footer-blocks .following .followers {
  padding: 1em 0;
  color: #000;
}
#main-footer .footer-blocks .following .followers strong {
  font-size: 1.4em;
}
#main-footer .footer-blocks .following .social-icons {
  padding: 1em 0 2em 0;
  border-top: 1px solid #e5e5e5;
}
#main-footer .footer-blocks .following .social-icons li {
  display: inline;
  margin: 0 0.5em;
}
#main-footer .footer-blocks .following .social-icons li i {
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  color: #9f9f9f;
}
#main-footer .footer-blocks .following .social-icons li span {
  color: #95e1d3;
}
#main-footer .footer-blocks .following .social-icons li:first-child {
  margin-left: 0;
}
#main-footer .footer-blocks .following form {
  width: 23.75em;
  height: 2.5em;
}
#main-footer .footer-blocks .following form .email_field {
  display: none;
}
#main-footer .footer-blocks .following form input[type=email] {
  width: 16.5em;
  height: 100%;
  padding: 0.2em 0 0 1.1em;
  line-height: 100%;
  border: 1px solid #e7e7e7;
  outline-color: #95e1d3;
  box-sizing: border-box;
}
#main-footer .footer-blocks .following form input[type=email]::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  font-style: italic;
  color: #d9d9d9;
}
#main-footer .footer-blocks .following form input[type=email]:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-style: italic;
  color: #d9d9d9;
}
#main-footer .footer-blocks .following form input[type=email]::-moz-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-style: italic;
  color: #d9d9d9;
}
#main-footer .footer-blocks .following form input[type=email]:-moz-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-style: italic;
  color: #d9d9d9;
}
#main-footer .footer-blocks .following form input[type=submit] {
  width: 10em;
  height: 100%;
  margin-left: -5px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: 700;
  background-color: #95e1d3;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline-color: transparent;
  box-sizing: border-box;
}
#main-footer .footer-blocks .following form input[type=submit]:hover {
  -webkit-filter: contrast(110%);
  -moz-filter: contrast(110%);
  -ms-filter: contrast(110%);
  -o-filter: contrast(110%);
  filter: contrast(110%);
}
#main-footer .footer-blocks .blogs {
  width: 21.875em;
  height: 22.2em;
}
#main-footer .footer-blocks .blogs .blogs-caption {
  padding-bottom: 2.65em;
}
#main-footer .footer-blocks .blogs .post-preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 21.875em;
  height: 18.75em;
}
#main-footer .footer-blocks .blogs .post-preview .post-preview-img {
  width: 7.5em;
  height: 5em;
}
#main-footer .footer-blocks .blogs .post-preview .post-preview-text {
  width: 13em;
  height: 5em;
  padding: 1.2em 0;
  box-sizing: border-box;
}
#main-footer .footer-blocks .blogs .post-preview .post-preview-text h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75em;
}
#main-footer .footer-blocks .blogs .post-preview .post-preview-text i {
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #9f9f9f;
}
#main-footer .footer-blocks .blogs .post-preview .blog-cell {
  transition: all .1s;
}
#main-footer .footer-blocks .blogs .post-preview .blog-cell:hover {
  cursor: pointer;
  opacity: .8;
  transition: all .1s;
}
#main-footer .footer-blocks .instagram {
  width: 16.75em;
  height: 22.2em;
}
#main-footer .footer-blocks .instagram .instagram-caption {
  padding-bottom: 2.65em;
}
#main-footer .footer-blocks .instagram .gallery-small {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 16.75em;
  height: 16.75em;
  padding-bottom: 1em;
}
#main-footer .footer-blocks .instagram .gallery-small .gallery-small-cell {
  width: 5.5em;
  height: 5.5em;
  transition: all .1s;
}
#main-footer .footer-blocks .instagram .gallery-small .gallery-small-cell:hover {
  cursor: pointer;
  opacity: .8;
  transition: all .1s;
}
#main-footer .footer-blocks .instagram a {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  color: #3f3f3f;
}
#main-footer .copyright {
  display: block;
  width: 75em;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
#main-footer .copyright h4 {
  text-transform: none;
}
#main-footer .copyright h4 span {
  color: #f38181;
}
